[submodule "Smart Crossroad"]
	url = https://github.com/ruangrith-ri/Smart-Crossroad.git
[submodule "Interactive Content System"]
	url = https://github.com/ruangrith-ri/Interactive-Content-System.git
